.h5p-essayquestion {
	
}

.essayquestion-text {
	
}

.essayquestion-input {
	width: 100%;	
}

.essayquestion-input-ro {
	width: 80%;	
	border: thin solid lightgray;
	border-radius: 10px;
	padding: 10px;	
}
